aflow
imbalanced-learn
imblearn
IProgress
ipykernel
ipython
ipython-genutils
ipywidgets
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
matminer
matplotlib
mdf-forge
mdf-toolbox
notebook
numpy
pandas
pathlib
plotly
pymatgen
scikit-learn
scikit-plot
scipy
seaborn
sklearn
tqdm
xgboost
